body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.red {
  background-color: #ff5a5f;
}

.white {
  color: #fff;
}

.flex-search-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#search-form {
  width: 80%;
  border: 1px solid #dce0e0 !important;
  box-shadow: 0 1px 3px 0 #dce0e0 !important;
  border-radius: 4px !important;
}

.flex-card-grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.restaurant-card {
  margin: 2%;
  border: 1px solid #dce0e0 !important;
  box-shadow: 0 1px 3px 0 #dce0e0 !important;
  border-radius: 4px !important;
  width: 60%;
  height: 250px;
}

.image-container {
  height: 100%;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.info-container {
  margin: 2%;
}
